body {
    color: white;
    background-color: gray;

    font-family: 'Slabo 27px', serif;
    text-align: center;


}

.col-large-6{
    border: solid pink 5px;
    height: 900px;
    overflow: hidden;
}

.players-container,
.remaining-players,
.enemy-container {
    overflow: hidden;
}

.user-container,
.enemy-container,
.test{
    border: solid pink 5px;
    height: 200px;
}

#currentWord {
    font-size: xx-large;
}


.img-responsive {
    height: 100px;
    float: left;
    padding: 10px 10px 10px 10px;

;
}